= form.input :answer_html, label: 'Title (can contain HTML)'
= form.input :fake
= form.submit 'Save', class: 'btn btn-primary'
= link_to 'Cancel', admin_question_answers_path(@question), class: 'btn btn-default'
